#section_166_widget_317{
background-color:transparent ;
}
#section_166_widget_318{
background-color:transparent ;
}
body.dark #section_166_2{
background-color:#060818 !important;
}
#section_166_2{
background-color:#ff0000 !important;
}