#section_169_widget_325{
background-image:url('http:\/\/tlcommerce.local\/public\/storage\/all_files\/2023\/Oct\/plugin-banner-img_1044.png');
background-color:transparent ;
}
#section_169_widget_326{
background-color:transparent ;
}
#section_169_widget_324{
background-color:transparent ;
}
#section_169_widget_328{
background-color:transparent ;
}
#section_169_13{
background-image:url('http:\/\/tlcommerce.local\/public\/storage\/all_files\/2023\/Oct\/plugin-banner-bg_1045.jpg');
background-color:transparent ;
}
#section_169_widget_323{
background-color:transparent ;
}
#section_169_widget_323 h1{
color:#ff0000;
}